<!-- html stands for standard markup language,
It was first created to deal with text, 
so it has bunch of tags to deal with tags -->
<html>
    <head>
        <meta charset="utf-8"> <!--using meta tag to define the metadata--> 
        <meta name="description" content="This is my first html"> <!--meta tag always go inside the <head> element-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Basic html </title> <!--the name that display on the browser tab-->
        <h1> Hello </h1>
    </head>
    <body>
        <h1>The basics of html</h1> <!--from h1-h6 you can have different style-->
        <br/> <br/> <!--create a break tag, you can use as many as you want-->
        <hr/> <!--create a horizontal line to break the page-->
        
        <!--html doesn't care about the white space inside the file-->
        <!--html only cares about the contents inside the tag-->
        
        <p>This is paragraph</p> <!--the paragraph tag-->
        <p>This another paragraph</p> <!--paragraph will automatically space themselves-->
        <p>This <i>another</i> <b>paragraph</b></p> <!--using bold/italic tag to make some word looks Bold/ italic-->
        <p> <big>This </big> <small>is</small> paragraph</p> <!--big/small tag generates bigger/smaller words-->
        <p><sup>This</sup> is <sub>paragraph</sub> </p> <!--sup/sub tag generates superscript/subscript words-->
    </body>
</html>
